<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #conservation_drawer class="sidenav-content" mode="side">
        <ul class="options-list">
            <li *ngFor="let option of conservationMap.keys()">
                <mat-checkbox (change)="updateWaterHeightConservation($event)">{{option}}</mat-checkbox>
            </li>
        </ul>
    </mat-drawer>
</mat-drawer-container>

<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #consumption_drawer class="sidenav-content" mode="side">
        Consumption
    </mat-drawer>
</mat-drawer-container>

<div class="sidenav-btns-container">
    <button class="expand-sidenav-btn" (click)="conservation_drawer.toggle()">Show conservation options</button>
    <button class="expand-sidenav-btn" (click)="consumption_drawer.toggle()">Show consumption options</button>
</div>
<div class="mountains">
    <img class="mountain_background" src="/assets/mountain_background.png">
    <!--Waves-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto"
        [ngStyle]="{'height': waveHeightStyle}">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(145, 166, 204,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(70, 115, 143,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(16, 52, 115,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(31, 56, 102, .6)" />
        </g>
        </svg>
    </div>
    <img class="mountain_front" src="/assets/mountain_front.png">

    <!-- <div class="indicator-container" *ngIf="isIndicatorVisible"  [ngStyle]="{'bottom': indicatorHeightStyle}">
        <p class="indicator-text">{{indicatorText}}</p>
        <hr class="level-indicator"/>
    </div> -->
    
</div>