.mountains{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(197, 223, 224);
}

.mountain_front{
    position:absolute;
    left: 0;
    height: inherit;
    width: inherit;
}

.mountain_background{
    position: absolute;
    display: inline;
    width: inherit;
    height: inherit;
    padding-left: 10%;
    bottom: 0px;
    right: 0px;
}

.waves {
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 60vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    transition: height .3s ease-out;
}
  
.content {
    position:relative;
    height:50vh;
    text-align:center;
    background-color: white;
}
  
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* Sidenav */
.sidenav-container{
    position: absolute;
    z-index: 100;
    height: 100vh;
}

.sidenav-content{
    min-width: 40vw;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.sidenav-btns-container{
    z-index: 100;
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.expand-sidenav-btn:first-child{
    margin-bottom: 20px;
}

.expand-sidenav-btn{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 8px;
}

.expand-sidenav-btn:hover{
    cursor: pointer;
}

.list-header{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

.list-hr{
    background: black;
    height: 2px;
    border: none;
    margin-bottom: 20px;
}

/* Conservation/consumption options */
.options-list{
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    padding:0px;
}

.options-list li{
    margin-bottom: 9px;
}

.mat-drawer-container{
    background: none;
    border: none;
    box-shadow: none;
}

/* Modal */
.preview-container{
    position: absolute;
    border-radius: 16px;
    width: 50%;
    height: 50%; 
    display: flex;
    flex-flow: column;
    border-radius: 16px;
    object-fit: fill; 
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 22px 22px 0px 22px 
}

.dim-screen{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 101;
    position: absolute;
    left:0px;
    top:0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.exitBtn{
    position: absolute;
    right: 2%;
    top: 2%;
}

.impact-info-modal{
    text-align: center;
    font-size: calc( 1.2vw + 1vh);
    overflow: auto;
}

.impact-info-modal h3{
    font-family: 'DM Sans', sans-serif;
    color: #241571;
    font-style: italic;
    font-weight: 700;
    font-size: 1.8rem;
}

.impact-info-modal p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

/* Info Btn */
.info-btn{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 101;
}

.info-btn span:hover, .exitBtn span:hover{
    cursor: pointer;
}

.no-border-btn{
    border: 0px;
    outline: 0px; 
    background: transparent;
}

