.mountains{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(197, 223, 224);
}

.mountain_front{
    position:absolute;
    left: 0;
    height: inherit;
    width: inherit;
}

.mountain_background{
    position: absolute;
    display: inline;
    width: inherit;
    height: inherit;
    padding-left: 10%;
    bottom: 0px;
    right: 0px;
}

.waves {
    position:absolute;
    bottom: 0px;
    width: 100%;
    height: 60vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    transition: height .3s ease-out;
}
  
.content {
    position:relative;
    height:50vh;
    text-align:center;
    background-color: white;
}
  
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* Sidenav */
.sidenav-container{
    position: absolute;
    z-index: 100;
    height: 100vh;
}

.sidenav-content{
    min-width: 40vw;
}

.sidenav-btns-container{
    z-index: 100;
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.expand-sidenav-btn:first-child{
    margin-bottom: 20px;
}

.expand-sidenav-btn{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 8px;
}

.expand-sidenav-btn:hover{
    cursor: pointer;
}

/* Conservation/consumption options */
.options-list{
    list-style-type: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}
