.mountains{
    width: 100%;
    height: 100%;
    position: relative;
}

.mountain_front{
    position:absolute;
    left: 0;
    height: inherit;
    width: inherit;
}

.mountain_background{
    position: absolute;
    display: inline;
    width: inherit;
    height: inherit;
    padding-left: 10%;
    bottom: 0px;
    right: 0px;
}

.waves {
    position:absolute;
    bottom: 5%;
    width: 100%;
    height: 60vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    transition: height .3s ease-out;
}
  
.content {
    position:relative;
    height:50vh;
    text-align:center;
    background-color: white;
}
  
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* Shrinking for mobile
@media (max-width: 768px) {
.waves {
height:10vh;
min-height:40px;
}
.content {
height:30vh;
}
} */

/* Slider container */ 
.container-outer{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.slider-container{
    display: flex;
    flex-flow: column;
    width: 85%;
}

.slider-container p{
    align-self: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.slider-container .data-header{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

/* Water level indicators */
.level-indicator{
    border-top: 1px solid red;
    position: absolute;
    bottom: 20vh;
    width: 30vw;
}

/* Modal */ 
.mountains-container{
    width: 100%; 
    height: 100%; 
}

.preview-container{
    position: absolute;
    background: white;
    border-radius: 16px;
    width: 50%;
    height: 50%; 
    display: flex;
    flex-flow: column;
}

.dim-screen{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    left:0px;
    top:0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.exitBtn{
    position: absolute;
    right: 2%;
    top: 2%;
}

.info-btn{
    position: absolute;
    top: 2%;
    left: 2%;
}

.info-btn span:hover, .exitBtn span:hover{
    cursor: pointer;
}

.no-border-btn{
    border: 0px;
    outline: 0px; 
    background: transparent;
}

.caroBtnTable{
    position:absolute;
    bottom: 30px;
    align-self: center;
}

.caroBtn{
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    border-color: white;
    box-shadow: none;
}

.caroBtn:hover{
    background-color: grey;
}

.caroBtnSelected{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-color: white;
    box-shadow: none;
}
