.mountains{
    width: 100%;
    height: 100%;
    position: relative;
}

.mountain_front{
    position:absolute;
    left: 0;
    height: inherit;
    width: inherit;
}

.mountain_background{
    position: absolute;
    display: inline;
    width: inherit;
    height: inherit;
    padding-left: 10%;
    bottom: 0px;
    right: 0px;
}

.water-level{
    
}
