.mountains{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mountain_front{
    position:absolute;
    left: 0;
    height: 80%;
    width: 80%;
    padding-left: 10%;
}

.mountain_background{
    position: absolute;
    display: inline;
    width: 80%;
    height: 80%;
    padding-left: 10%;
}

.preview{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    transition: background 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.preview-container{

}